{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="bg-light my-3 mx-1 py-3 px-3">
                    <div class="text-center">
                        <h2>Map preview</h2>
                    </div>
                    <div>
                        <img src="{{ asset('img/map.png') }}" class="img-fluid w-100" alt=""/>
                    </div>
                    <div class="mt-5 text-right">
                        <a href="{{ path('map_generate') }}" target="_blank" class="btn btn-dark">Generate map</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg-dark my-3 mx-1 py-3 px-3 text-white">
                    <div class="text-center">
                        <h2>Players</h2>
                    </div>

                    {% for player in players %}
                        <div class="row align-items-center">
                            <div class="col-md-5">{{ player.name }}</div>
                            <div class="col-md-4">{{ player.coords }}</div>
                            <div class="col-md-3">
                                <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                <a href="#" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="mt-5 text-right">
                        <a href="#" class="btn btn-success">Add Player</a>
                    </div>
                </div>
                <div class="bg-light my-3 mx-1 py-3 px-3">
                    <div class="text-center">
                        <h2>Points of Interest</h2>
                    </div>

                    {% for poi in pois %}
                        <div class="row align-items-center">
                            <div class="col-md-3">{{ poi.name }}</div>
                            <div class="col-md-3"><img src="{{ asset('map/'~ poi.type ~'.png') }}" alt="{{ poi.type }}" title="{{ poi.type }}"></div>
                            <div class="col-md-3">{{ poi.coords }}</div>
                            <div class="col-md-3">
                                <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                <a href="#" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="mt-5 text-right">
                        <a href="#" class="btn btn-success">Add Point of Interest</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}